html, body {
    height: 100%;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.card {
    margin: 10px 0;
    border-radius: 5px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item button {
    margin-left: 10px;
}

.button-group {
    display: flex;
    gap: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease;
}

.footer a:hover svg {
    fill: #5b8ff8;
    transform: scale(1.1);
}